/* Global */

a {
  text-decoration: none;
}

html {
  height: 100%;
}

body {
  position: relative;
  margin: 0 auto;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.page {
  margin: 0 auto;
  max-width: 666px;
  width: 90%;
  font-family: "Times New Roman", Times, serif;
}

/* Headings */

.h1 {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  text-align: center;
  padding-top: 80px;
  margin-top: 50px;
  margin-bottom: 90px;
  -webkit-animation: fadein 7s;
  animation: fadein 7s;
}

h1#turn {
  margin-top: 222px;
  -webkit-animation: fadein 5s;
  animation: fadein 5s;
}

/* Paragraph */

.paragraph {
  position: relative;
  max-width: 666px;
  width: 100%;
  margin-top: 20px;
  text-indent: 30px;
  font-family: "Times New Roman", Times, serif;
}

#p-1 {
  font-style: italic;
  -webkit-animation: fadein 14s;
  animation: fadein 14s;
}

#p-2 {
  font-weight: bold;
  -webkit-animation: fadein 17s;
  animation: fadein 17s;
}

#p-3 {
  text-transform: capitalize;
  -webkit-animation: fadein 20s;
  animation: fadein 20s;
}

/* Footer */

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: .75em;
  background-color: #efefef;
  text-align: center;
}

/* Media */

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}